<div class="calendar-activity teal" style="width: 100%; margin-bottom: 0px;">
  <!--  <a id="sa-success" class="mdl-button mdl-js-button"><i class="material-icons">close</i></a> -->
  <center> 
  <span><h3>Meeting</h3></span>
  <span class="calendar-hour"><h6>{{parsedPretyDate fecha_cita}}</h6></span>
  </center>
</div>
<div class="clr"></div>
<main class="mdl-layout__content">
<div class="mdl-card mdl-shadow--2dp  drawer-profile">
  <div class="mdl-card__title user" style="background-color: #4DB6AC; height: 105px; padding-top: 0px; overflow:auto;">
    <p style="width: 95%; float: left; padding-left: 20px; font-size: 12px; line-height: 15px; text-align: justify;">

    <h4>{{contacto_empresa}}:</h4>
    {{#if instrucciones}}
    <h5>Instructions:</h5>{{instrucciones}}<br/>
    {{/if}}
    {{#if descripccion}}
    <h5>Description:</h5>{{descripccion}}</p>
    {{/if}}
  </div>
  <div class="mdl-card__title user" style="background-color: #f0f0f0; height: 105px; padding-top: 15px; ">
    <span class="user-name" style="float: left; color: rgba(0,0,0,.54); padding: 15px; font-size: 20px; ">{{contacto_nombre}}</span>
  </div>
  <!-- Top-right User -->
</div>
<div class="contact-about" style="margin-top: -50px; width: 110%; margin-left: -30px;">
  <div class="mdl-card ">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <a class="no-accent-color" id="call"><i class="material-icons">call</i></a>
        <span>Call</span>

        <script>
            $('#call').click(function () {
                var phone = "{{contacto_telefono}}".replace(/\D/g,"");
                window.open("tel:"+phone, '_system');
                return false;
            });
        </script>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <a class="no-accent-color" id="sms"><i class="fa fa-commenting-o" aria-hidden="true"></i>
        </a>
        <span>SMS</span>

        <script>
            $('#sms').click(function () {
                var phone = "{{contacto_telefono}}".replace(/\D/g,"");
                window.open("sms:"+phone+"&body=Hi,%20I'm%20at%20the%20meeting%20place%20already.", '_system');
                return false;
            });
        </script>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <a class="no-accent-color" onclick="window.open('mailto://{{contacto_mail}}?Subject=From {{user.first_name}} {{user.last_name}} BTMconsulting', '_system')"><i class="material-icons">mail</i></a>
        <span>Mail</span>
      </div>
      
    </div>
  </div>
</div>

<h4>
<center>
<a class="no-accent-color" onclick="window.open('https://www.google.com/maps/search/{{staticLinkByGoogleData lugar_cita lugar_cita2}}', '_system')">
Get to cite place <i class="fa fa-map-marker" aria-hidden="true"></i>
<span>Map</span> <i class="fa fa-map" aria-hidden="true"></i>

</a>
</center>
</h4>
<!--<div class="mdl-cell mdl-cell--12-col" style="margin-top: -30px; width: 100%; padding: 0px; margin-left: 0px;">
  
 
  <img src="https://maps.googleapis.com/maps/api/staticmap?visible=Sheraton%20Maria%20Isabel%20Hotel%20&amp;%20Towers%20Salon%20Bugambilia+undefinedmaptype=roadmap&zoom=16&size=600x400&markers=color:blue&format=pnge&key=AIzaSyDSMHCossdNQkJm9YJpw8-PQyWSSLHMiLU" alt="" id="newImage" />   


  <script>

 
  document.getElementById("newImage").src =  "{{staticMapByGoogleData lugar_cita lugar_cita2}}";

  </script>
   
</div>-->
<hr>
<!--<div class="mdl-cell mdl-cell--12-col">
  <a href="img/6.jpg" class="swipebox" title="Material Design"><img src="img/6.jpg" alt=""></a>
</div>-->
<div class="chat">
<ul id="addcomment">
 {{#each comments}}
   <li class="message-right" id="comment-{{id}}"> <!-- right message -->
    <img src="" alt="" class="minilogo mdl-shadow--2dp"> <!-- user -->
    <script>
    $(document).ready(function(){
      var img_mini =  "data:image/jpg;base64," + window.localStorage.getItem("avatar_mini");
      $('.minilogo').attr('src', img_mini);
    });
    </script>
    <div class="message mdl-shadow--2dp mdl-color--primary mdl-color-text--white"> 
      <p>{{coment_text}}</p> <!-- message text -->
      {{#if attachment}}
      <a id="img{{id}}" >Attachment <i class="fa fa-paperclip" aria-hidden="true"></i></a> <br/><br/>
      <script>
         $('#img{{id}}').click(function () {
                window.open("{{attachment}}", '_system');
          });
      </script>
      {{/if}}

      <span>{{parsedPretyDate2 created_at}}</span> 
      <span><a onclick="destroyComment({{id}})"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
    </div>
    </li>
 {{/each}}

</ul>

<br/><br/><br/><br/><br/><br/>
</div>
<!-- write message fixed bottom -->
<div class="write-message mdl-shadow--2dp">
<form id="send_coment" enctype="multipart/form-data" >
  <a class="mdl-button mdl-js-button mdl-button--icon" id="open_attachment" href="#">
  <i class="material-icons">attach_file</i>
  </a>
  <div class="mdl-textfield mdl-js-textfield textfield-demo">
    <div style="display:none;">
    <input type="text" name="id" value="{{id}}" id="id">
    <input type="text" name="user_app_id" value="" id="user_app_id">
    <input type="file" name="attachment" id="attachment">

    <script>
     $('#user_app_id').val(window.localStorage.getItem("userId"));
      
      $('#open_attachment').click(function(){
        $('#attachment').trigger("click");
      });

    </script>
     
    </div>
    <input class="mdl-textfield__input" type="text" id="coment_text" name="coment_text"/>
    <label class="mdl-textfield__label" for="coment_text">Type comment...</label>
  </div>

  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored send">
  <i class="material-icons">send</i>
  </button>
</form>

</div>
</main>
</div>


<script>
  $('#send_coment').submit(function(){
    var formData = new FormData($(this)[0]);
      console.log(formData);

    var formDataSerialized = $(this).serialize();
      console.log(formDataSerialized);
    var url = "http://btmconsulting-api.herokuapp.com/agregar_comentario";
    $.ajax({
      url: url,
      type: 'post',
      async: false,
      cache: false,
      contentType: false,
      processData: false,
      data: formData,
      success: function (data) {
        datas = JSON.stringify(data);
        divloadtpl = 'addcomment';
        getTemplate('comment', data, function(output, err) {
          $('#'+divloadtpl).addClass('animated fadeOut');
          setTimeout(function(){
            $("#"+divloadtpl).append(output);
            $('#'+divloadtpl).addClass('animated slideInDown');
          }, 200);
        });  
      }
             
    });  
    return false;
  });

  function destroyComment(id){
    console.log('Comentario a eliminar ' +id);
    var id = id;
    if (confirm('Are you sure to destroy this comment?')) {
      var url = "http://btmconsulting-api.herokuapp.com/eliminar_comentario?id="+id;
      console.log(url);
      $.ajax({
        url: url,
        type: 'post',
        async: false,
        cache: false,
        contentType: false,
        processData: false,
        success: function (data) {
          console.log(data.notice);
          $('#comment-'+id).hide();
        }
               
      }); 
    } else {
      console.log('Not eliminate')
    }
  }
</script>
